<a class="footer-social-icon" href="{{ links.facebook }}" target="_blank"><img src="/static/img/icons/facebook_90x90.png" alt="Follow Circadian Riff on Facebook" width="40"></a>
<a class="footer-social-icon" href="{{ links.instagram }}" target="_blank"><img src="/static/img/icons/instagram_90x90.png" alt="Follow Circadian Riff on Instagram" width="40"></a>