<a class="footer-social-icon" href="{{ links.facebook }}" target="_blank"><img src="/static/img/icons/facebook_90x90.png" alt="Follow Me on Facebook for events" width="40"></a>
<a class="footer-social-icon" href="{{ links.instagram }}" target="_blank"><img src="/static/img/icons/instagram_90x90.png" alt="Follow Me on Instagram For clips and shenanigans" width="40"></a>
<a class="footer-social-icon" href="{{ links.audius }}" target="_blank"><img src="/static/img/icons/audius-icon.png" alt="Listen on Audius" width="40"></a>
<a class="footer-social-icon" href="{{ links.youtube }}" target="_blank"><img src="/static/img/icons/youtube-button.png" alt="like, subscribe, destroy the bell on Youtube" width="40"></a>
<a class="footer-social-icon" href="{{ links.soundcloud }}" target="_blank"><img src="/static/img/icons/soundcloud-tile.png" alt="Listen on SoundCloud" width="40"></a>
{# <a class="footer-social-icon" href="{{ links.beatport }}" target="_blank"><img src="/static/img/icons/beatport_90x90.png" alt="Listen and Purchase on BeatPort" width="40"></a> #}